@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(Backgroung5.jpg) no-repeat;
    background-color: rebeccapurple;
}
 .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
           }
        
.form-box {
            position: relative;
            width: 400px;
            height: 550px;
            border: 2px solid rgba(255, 255, 2550.5);
            border-radius: 20px;
            backdrop-filter: blur(15px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
